.component-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  &__wrapper {
    overflow: auto;
  }

  &__head {
    color: grey;
  }

  &__td {
    border: 1px solid #ddd;
    padding: 8px;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  &__tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}
